/* Reset default margin and font */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: #ffffff;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 50px;
  background-color: #0d0d0d;
}

/* Logo styles */
.logo {
  color: #f0c93d;
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #898989;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

/* Navigation styles */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #3c3c3c;
  text-decoration: none;
  font-size: 14px;
  position: relative; /* Needed for pseudo-element */
  transition: color 0.3s ease, text-decoration-color 0.3s ease; /* Add transition */
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust position below the text */
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: #f0c93d;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right; /* Start animation from the right */
}

nav ul li a:hover {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none; /* Remove default underline */
}

nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; /* End animation to the left */
}

/* GitHub icon styles */
.github svg {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #ffffff;
}

.github a:hover svg {
  box-shadow: 0 0 15px #f0c93d; /* Shadow effect on hover */
  border: 0 solid #ffffff;
}

#portfolio {
  padding: 50px;
  text-align: center;
}

#portfolio h2 {
  font-size: 36px;
  color: #f0c93d;
}

#portfolio p {
  font-size: 18px;
  color: #999;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* Styling untuk judul "Past Project Experience" */
/* Gaya untuk elemen h2 di dalam #portfolio */
#portfolio h2 {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 4px 4px 6px rgb(0, 136, 227); /* Bayangan teks dengan warna */
  animation: slideInUp 1s ease-out; /* Animasi slideInUp dengan durasi 1 detik */
  -webkit-animation: slideInUp 1s ease-out; /* Prefix untuk dukungan browser lama */
}

/* Keyframes untuk animasi slideInUp */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Keyframes untuk animasi slideInUp dengan prefix -webkit- */
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

.project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: slideInUp 1s ease-out; /* Animasi slideInUp dengan durasi 1 detik */
  -webkit-animation: slideInUp 1s ease-out; /* Prefix untuk dukungan browser lama */
}

.project-card {
  background-color: #202020;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: start;
  width: 20em;
  box-shadow: 0 0 10px #000000bb;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card video,
.project-card img {
  width: 100%; /* Example width */
  height: 180px; /* Example height */
  border-radius: 10px;
  border-bottom: 0 solid #d70000;
  padding-bottom: 0;
  margin-bottom: 0;
  object-fit: fill; /* Ensures the video/image covers the specified area */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.project-card:hover img,
.project-card:hover video {
  transform: scale(1.2);
  z-index: 1;
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.project-card h3 {
  font-size: 20px;
  color: #fff;
  margin: 10px 30px;
}

.project-card p {
  font-size: 14px;
  color: #000000;
  margin: 5px 0;
}

.project-card strong {
  color: #f0c93d;
  font-size: 18px;
  margin: 10px 10px;
}

.github {
  display: flex;
  justify-content: end; /* Mengatur jarak antara ikon */
  align-items: end; /* Memastikan ikon berada di tengah vertikal */
  margin-top: 20px; /* Contoh jarak atas 200px, sesuaikan sesuai kebutuhan */
  margin-bottom: 1px; /* Margin bawah sebesar 10px */
}

.github a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 10px; /* Memberikan margin kiri sebesar 10px antara ikon */
}

.github a:hover {
  color: #f0c93d;
}

.github svg {
  width: 25px;
  height: 25px;
}

/* Untuk scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* lebar scrollbar */
}

/* Warna pada scrollbar */
::-webkit-scrollbar-track {
  background: #0d0d0d; /* warna latar belakang track */
}

/* Untuk scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #f0c93d; /* warna handle */
  border-radius: 5px; /* bentuk handle */
  border: 2px solid #0d0d0d; /* garis tepi handle */
}

/* Hover pada scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #f0c93d; /* warna hover handle */
}

/* Bagian dari scrollbar yang tidak terlihat */
::-webkit-scrollbar-track-piece {
  background-color: #0d0d0d; /* warna untuk bagian yang tidak terlihat */
}

/* Bagian dari scrollbar handle (thumb) yang tidak terlihat */
::-webkit-scrollbar-thumb-piece {
  background-color: #f0c93d; /* warna untuk bagian handle yang tidak terlihat */
}
/* Media Queries */
@media (max-width: 767px) {
  header {
    flex-direction: row;
    align-items: start;
    padding: 20px;
  }
}
